<!--Footer--------------------------------------------------------->

<footer class="footer_block">

    <div class="footer_br_div">
      <hr class="footer_br">
    </div> 
  
    <div class="footer_row">
  
      <div class="footer_colum">   
        <img class="footer_logo" src="../assets/logo_dark.png" width="100%">
      </div>
  
      <div class="footer_colum">
        <div class="footer_item">
          <div class="social_media">
          <h6>Соціальні мережі</h6>
          <hr>
          <h6><a href="http://instagram.com">Instagram</a></h6>
          <h6><a href="http://facebook.com">Facebook</a></h6>
          </div>
        </div>
      </div>
  
      <div class="footer_colum">
        <div class="footer_item">
          <div class="messengers">
          <h6>Мессенджери</h6>
          <hr>
          <h6><a href="http://web.telegram.org">Telegram</a></h6>
          <h6><a href="http://viber.com">Viber</a></h6>
          </div>
        </div>  
      </div>
  
      <div class="footer_colum">
        <div class="footer_item">
          <div class="mail">
          <h6 class="footer_mail">Електронна адреса <br>
          Testkinggoodlol@hmail.com</h6>
          </div>
        </div>  
      </div>
  
      <div class="footer_colum">
        <div class="footer_item">
          <div class="phone_namber">
          <h6 class="footer_phone">Телефон <br>
          (093) 760 22 36</h6>
          </div>
        </div>  
      </div>
  
    </div>
  
    <div class="copyright">
      <p class="copyright">&copy; 2021 FEDULOV DETAILING Studio - Всі права захищені. </p>
    </div>  
  
  
  </footer>
