<!--Header--------------------------------------------------------->

<header class="head_block">

    <div class="head_row">
      <div class="head_logo_row">   
          <img class="head_logo" src="../assets/logo_white.png" width="100%">
      </div>  
      <div class="head_item">
        <div class="head_text">
          <p class="head_p">
            Зробимо кузов <b>блискучим</b>, <br>
            салон <b>чистим</b>, <br> 
            <b>видалимо</b> подряпини і вм'ятини 
          </p>
        </div>
      </div>
      <div class="head_item">
        <div class="head_button_div">
          <button class="head_button">НАШІ ПОСЛУГИ</button> 
        </div>  
      </div>
    </div>  

</header>

<!--Burger_menu--------------------------------------------------------->

<button class="ham">
  <span class="menuIcon material-icons">
    menu
  </span>
  <span class="xIcon material-icons">
    close
  </span>
</button>
<ul class="menu">
  <li><a class="menuLink" href="#">Головна</a></li>
  <li><a class="menuLink" href="#">Наші послуги</a></li>
  <li><a class="menuLink" href="#">Переваги</a></li>
  <li><a class="menuLink" href="#">Сертифікати</a></li>
  <li><a class="menuLink" href="#">Контакти</a></li>
</ul>

<!--Наші послуги--------------------------------------------------------->

<section class="serv_block">

  <div class="serv_row">

      <div class="serv_colum">
          <div class="serv_item">
              <h2>Наші послуги</h2>
              <p class="serv_p">
              Всі послуги компанії поділяються на <br> 
              чотири основних підрозділи
              </p>
              <div class="price_list">
                <button class="price_list_button"><p>Прайс-лист</p></button>
              </div>
          </div>
      </div>
  
      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/detailing_polishing.png" alt="Детейлінг хімчистка">
              <h3>Детейлінг полірування</h3>
              <p class="serv_p">Кераміка, полірування, <br> 
              видалення вм'ятин</p>
          </div>
      </div>    

      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/detailing_dry_cleaning.png" alt="Детейлінг хімчистка">
              <h3>Детейлінг хімчистка</h3>
              <p class="serv_p">Хімчистка, ремонт, захист</p>
          </div>
      </div>

      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/protective_coatings.png" alt="Захисні пкориття">
              <h3>Захисні пкориття</h3>
              <p class="serv_p">
              Блиск, насичений колір, <br> 
              гідрофобний ефект
              </p>
          </div>
      </div>

      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/anti_gravel_film.png" alt="Антигравійна плівка">
              <h3>Антигравійна плівка</h3>
              <p class="serv_p">Курси, семінари</p>
          </div>
      </div>
  </div>    

</section>

<!--Переваги--------------------------------------------------------->

<section class="benefits_block">

  <div class="benefits_colum">
    <div class="benefits_item">
      <h2>Переваги</h2>
      <p class="bene_p">
          Наш досвід і репутація - це <br> 
          найголовніше, але є ще кілька <br> 
          важливих моментів
      </p>
    </div>
  </div>

</section>

<!--Інстаграм--------------------------------------------------------->

<section class="instagram_bock">

  <div class="instagram_row">
    <div class="instagram_colum">
    <div class="instagram_item">
        <h2>Інстаграм</h2>
        <p class="inst_p">
            Більше фото і відео у нашому <br> 
            інстаграмі  @detailing_alarm
        </p>
        <div class="subscribe">
        <button class="subscribe_button">Підписатися</button>
      </div>
    </div>
  </div>

  <div class="instagram_colum">
    <div class="instagram_item">
      <div class="inst_school">
        <img class="traning_school" src="../assets/training_school.png" alt="Своя школа навчання">
      </div>
    </div>

    <div class="instagram_item">
        <h2>Своя школа навчання</h2>
        <p class="inst_p">
          Massa dictum eget imperdiet aliquet nibh<br> 
          ullamcorper.
        </p>
    </div>
  </div>

  <div class="instagram_colum">
    <div class="instagram_item">
      <div class="inst_materials">
        <img class="quality_materials" src="../assets/quality_materials.png" alt="Своя школа навчання">
      </div>
      </div>
      <div class="instagram_comment">
        <h2>Якісні метеріали</h2>
        <p class="inst_p">
          Massa dictum eget imperdiet aliquet nibh<br> 
          ullamcorper.
        </p>
      </div>
    </div>
    
</div>

</section>

<!--Контакти--------------------------------------------------------->

<section class="contacts_block">

  <div class="contact_row">
    <div class="contact_colum">
    <div class="contacts_item">
        <h2>Контакти</h2>
        <p class="cont_p">
            тел. (093) 760 22 36 <br>
            Testkinggoodlol@gmail.com <br>
            м.Львів, вул. Природна 10 <br> <br>

            ПН-ПН 8:00-17:00 <br>
            СБ 9:00-16:00 <br>
            НД вихідний <br>
        </p>
    </div>
    </div>

    <div class="contact_colum">
    <div class="contacts_item">
    <div id="map">
        <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcHk-RTrH0x8jeVpHEk7oaev_EwQ6XTU&callback=initMap">
        </script>
    </div>
    </div>
    </div>
  </div>
  
</section>

<!--Footer--------------------------------------------------------->

<footer class="footer_block">

  <div class="footer_br_div">
    <hr class="footer_br">
  </div> 

  <div class="footer_row">

    <div class="footer_colum">   
      <img class="footer_logo" src="../assets/logo_dark.png" width="100%">
    </div>

    <div class="footer_colum">
      <div class="footer_item">
        <div class="social_media">
        <h6>Соціальні мережі</h6>
        <hr>
        <h6><a href="http://instagram.com">Instagram</a></h6>
        <h6><a href="http://facebook.com">Facebook</a></h6>
        </div>
      </div>
    </div>

    <div class="footer_colum">
      <div class="footer_item">
        <div class="messengers">
        <h6>Мессенджери</h6>
        <hr>
        <h6><a href="http://web.telegram.org">Telegram</a></h6>
        <h6><a href="http://viber.com">Viber</a></h6>
        </div>
      </div>  
    </div>

    <div class="footer_colum">
      <div class="footer_item">
        <div class="mail">
        <h6 class="footer_mail">Електронна адреса <br>
        Testkinggoodlol@hmail.com</h6>
        </div>
      </div>  
    </div>

    <div class="footer_colum">
      <div class="footer_item">
        <div class="phone_namber">
        <h6 class="footer_phone">Телефон <br>
        (093) 760 22 36</h6>
        </div>
      </div>  
    </div>

  </div>

  <div class="copyright">
    <p class="copyright">&copy; 2021 FEDULOV DETAILING Studio - Всі права захищені. </p>
  </div>  


</footer>

<script src="../assets/burger_menu.js"></script>