<!--Header--------------------------------------------------------->

<app-header></app-header>

<!--Наші послуги--------------------------------------------------------->

<section class="serv_block">

  <div class="serv_row">

      <div class="serv_colum">
          <div class="serv_item">
              <h2>Наші послуги</h2>
              <p class="serv_p">
              Всі послуги компанії поділяються на <br> 
              чотири основних підрозділи
              </p>
              <div class="price_list">
                <button class="price_list_button"><p>Прайс-лист</p></button>
              </div>
          </div>
      </div>
  
      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/detailing_polishing.png" alt="Детейлінг хімчистка">
              <h3>Детейлінг полірування</h3>
              <p class="serv_p">Кераміка, полірування, <br> 
              видалення вм'ятин</p>
          </div>
      </div>    

      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/detailing_dry_cleaning.png" alt="Детейлінг хімчистка">
              <h3>Детейлінг хімчистка</h3>
              <p class="serv_p">Хімчистка, ремонт, захист</p>
          </div>
      </div>

      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/protective_coatings.png" alt="Захисні пкориття">
              <h3>Захисні пкориття</h3>
              <p class="serv_p">
              Блиск, насичений колір, <br> 
              гідрофобний ефект
              </p>
          </div>
      </div>

      <div class="serv_colum">
          <div class="serv_item">
              <img class="serv_img" src="../assets/anti_gravel_film.png" alt="Антигравійна плівка">
              <h3>Антигравійна плівка</h3>
              <p class="serv_p">Курси, семінари</p>
          </div>
      </div>
  </div>    

</section>

<!--Переваги--------------------------------------------------------->

<app-carousel></app-carousel>

<!--Інстаграм--------------------------------------------------------->

<section class="instagram_bock">

  <div class="instagram_row">
    <div class="instagram_colum">
    <div class="instagram_item">
        <h2>Інстаграм</h2>
        <p class="inst_p">
            Більше фото і відео у нашому <br> 
            інстаграмі  @detailing_alarm
        </p>
        <div class="subscribe">
        <button class="subscribe_button">Підписатися</button>
      </div>
    </div>
  </div>

  <div class="instagram_colum">
    <div class="instagram_item">
      <div class="inst_school">
        <img class="traning_school" src="../assets/training_school.png" alt="Своя школа навчання">
      </div>
    </div>

    <div class="instagram_item">
        <h2>Своя школа навчання</h2>
        <p class="inst_p">
          Massa dictum eget imperdiet aliquet nibh<br> 
          ullamcorper.
        </p>
    </div>
  </div>

  <div class="instagram_colum">
    <div class="instagram_item">
      <div class="inst_materials">
        <img class="quality_materials" src="../assets/quality_materials.png" alt="Своя школа навчання">
      </div>
      </div>
      <div class="instagram_comment">
        <h2>Якісні метеріали</h2>
        <p class="inst_p">
          Massa dictum eget imperdiet aliquet nibh<br> 
          ullamcorper.
        </p>
      </div>
    </div>
    
</div>

</section>

<!--Контакти--------------------------------------------------------->

<section class="contacts_block">

  <div class="contact_row">
    <div class="contact_colum">
    <div class="contacts_item">
        <h2>Контакти</h2>
        <p class="cont_p">
            тел. (093) 760 22 36 <br>
            Testkinggoodlol@gmail.com <br>
            м.Львів, вул. Природна 10 <br> <br>

            ПН-ПН 8:00-17:00 <br>
            СБ 9:00-16:00 <br>
            НД вихідний <br>
        </p>
    </div>
    </div>

    <div class="contact_colum">
    <div class="contacts_item">
    <div id="map">
        <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcHk-RTrH0x8jeVpHEk7oaev_EwQ6XTU&callback=initMap">
        </script>
    </div>
    </div>
    </div>
  </div>
  
</section>

<!--Footer--------------------------------------------------------->

<app-footer></app-footer>